################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lesson3/.vs/Lesson3/FileContentIndex
/.vs
