################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/.vs
/*/*/bin
/*/*/obj
/*/*/.vs/*
/*/*/.vs/*/*
/Lesson7/Lesson7/Lesson7.Code/obj
